# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Firebase related
firebase.json
firestore.indexes.json
firestore.rules
database.rules.json
# Add google-services.json to ignore
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Firebase Dart options file
lib/firebase_options.dart

# Dialogflow related
assets/dialog_flow_auth.json

# Local configuration files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Flutter dependencies
packages/*

# macOS related
macos/Flutter/ephemeral/
macos/Flutter/Flutter.podspec
macos/Flutter/GeneratedPluginRegistrant.swift

# Windows related
windows/flutter/ephemeral/

# Linux related
linux/flutter/ephemeral/
